
*{
    margin:0 px;
    padding:0 px;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;

}

body {
    min-height: 100vh;
    background: url(my\ portfolio.png)no-repeat;
    background-size: cover;
    background-position: center;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(108, 108, 108);
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 100;

}

.Shravani {
    font-size: 32px;
    column-rule: #fff;
    text-decoration: none;
   font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration:none;
    margin-left: 40px;
}

.navbar a::before {
    content:'';
    position:absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;

}